/* Link Styles */
a:link, 
a:visited,
.tutorial_details h5,
.question h4 span {
	color: #b93f14; /*!!*/
}
a:hover {
	color: #000;
}
a:active {
	color: #b93f14; /*!!*/
}
/* Logo */
.logo,
.footer_logo { 
  background: transparent url(sprite.png) no-repeat 0 0;
  width: 260px; /*!!*/
}
/* Header */
.small_plus {
  background: transparent url(sprite.png) no-repeat -150px -250px;
}
a.header_subscribe {
  background: transparent url(sprite.png) no-repeat 0px -100px;
}
a:hover.header_subscribe,
ul:hover.rss_subscribe a.header_subscribe {
  background: transparent url(sprite.png) no-repeat 0px -150px;
}
a.header_twitter {
  background: transparent url(sprite.png) no-repeat -150px -100px;
}
a:hover.header_twitter,
ul:hover.twitter_subscribe a.header_twitter {
  background: transparent url(sprite.png) no-repeat -150px -150px;
}
input.submit_button {
  background: transparent url(sprite.png) no-repeat -200px -100px;
}
input:hover.submit_button {
  background: transparent url(sprite.png) no-repeat -200px -150px;
}
/* Content */
#page .post .post_image .plus {
  background: transparent url(sprite.png) no-repeat -100px -450px;
}
#page .post .post_image .basix {
  background: transparent url(sprite.png) no-repeat -50px -450px;
}
#page .post .post_image .videos {
  background: transparent url(sprite.png) no-repeat 0px -450px;
}
#page .post .post_image .sessions {
  background: transparent url(sprite.png) no-repeat -150px -450px;
}
.session-logo h1 {
  background: #b93f14; /*!!*/
}
.sessions_post,
.session-post {
  background-color: #f8ebe6;
  border-color: #e0ab99;
}
.sessions_post a.cs_span {
  background: transparent url(sprite.png) no-repeat 0px -600px;
}
blockquote {
  background: #fff url(q_left.png) 1% 15% no-repeat;
}
blockquote p {
  background: transparent url(q_right.png) 99% 85% no-repeat;
}
blockquote.pullquote, 
div.pullquote {
  background: #f4f4f4 url(q_left.png) 5% 5% no-repeat;
}
blockquote.pullquote p, 
div.pullquote p {
  background: transparent url(q_right.png) 95% 95% no-repeat;
}
.wp-pagenavi a,
.sort_by li a,
a:hover.add_comment_link,
input:hover#add_comment,
#content .webroundup a:hover.button {
	background: #e6e6e6 url(sprite.png) no-repeat 0px -550px;
}
.wp-pagenavi a:hover, 
.wp-pagenavi .current,
.sort_by li a:hover, 
.sort_by li a.current,
a.add_comment_link,
input#add_comment,
#content .webroundup a.button {
	background: #9c260c url(sprite.png) no-repeat 0px -500px; /*!!*/
	border: 1px solid #9c260c; /*!!*/
}
/* Sidebar */
#sidebar .plus_member .plus_icon,
.plus_membership_text .plus_icon {
  background: transparent url(sprite.png) no-repeat 0px -250px;
}
#sidebar .side_basix .basix_logo {
  background: transparent url(sprite.png) no-repeat 0px -200px;
}
/* Footer */
.plus_network {
  background: transparent url(sprite.png) no-repeat 0px -350px;
}
/* comment highlights */
.commentlist .highlighted > .comment-body {
  background-color: #e0ab99;
}
  .commentlist .highlighted > .comment-body .wrap-comment {
    border-color: #f8ebe6;
  }
    .comment-ribbon.staff {
      background-position: -51px 0;
    }
    .comment-ribbon.author {
      background-position: -51px -51px;
    }