

#container { background: url(../Images/orangeContainer.gif) no-repeat left bottom;} 

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.Header {} 
.Header a { color: #fff; }
.Header a:visited { color: #fff; }
.Header a:hover { color: #fff; text-decoration: none; }

.HL { background: #cc3300 url(../Images/orangeHL.gif) no-repeat left bottom;}
.HR { background: #ff6600 url(../Images/orangeHR.gif) no-repeat left bottom; }

/* Theme ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Search */
.BR { background: #bdd2d6 url(/img/bgSearchBottom.gif) no-repeat left bottom; }
.BR .BRTop { background: url(/img/bgSearchTop.gif) no-repeat left top;}
.BR .arrow { background: url(../Images/orangeSearchArrow.png) no-repeat;}
.BR .arrow:hover { background: #ffd780 url(../Images/orangeSearchArrow.png) no-repeat 0 -20px; }
.BR .arrowIE { background: #ffd780 url(../Images/orangeSearchArrow.png) no-repeat 0 -20px; }
.BR p a { color:#fff;}

.BL { background: url(../Images/orangeFitness.jpg) no-repeat left top;}

/* DropDown Menu ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#menu li { border-left: solid 1px #e9693e;}
#menu li a { color: #ffeecc; }
#menu a span { color: #ffeecc; }
#menu a:hover span { color: #ffeecc;}
#menu a:hover { color: #ffeecc; }
DIV#menu ul li ul {	background: #cc3300; }
#menu li li a  { background: #cc3300;}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.content { background: #fff;} 
 
.contentTop { } 

.content h1 { color: #ff6600;}
.content h2 { /*color: #ff6600;*/}
.content h3 { /*color: #ff6600;*/}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.Featured h1 { border-bottom: dashed 1px #ccc; color:#000000; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.RecentArticles h1 { border-bottom: dashed 1px #ccc; color:#000000; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.SearchResults {}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Recent Blogs */
.RecentBlogs { background:#fff; }
.RecentBlogs h3 { border-bottom: dashed 1px #ccc; color:#ff3300;  }
.RecentBlogs em { color: #999; }
.RecentBlogs em a { color: #999; }
.RecentBlogs em a:visited { color: #999; }
.RecentBlogs em a:hover { color: #999; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.News {}
.News h1 { border-bottom: dashed 1px #ccc; color:#000000; }
.News h2 { color:#ff6600; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Post */
.Post { padding: 0px; margin: 0px;}


.Post .PostBottom li a {}
.Post .PostBottom li a:visited {}
.Post .PostBottom li a:hover {}


/* Article Comments */
.Post .PostMore .Comment .Details { }
.Post .PostMore .Comment {background:#FFF9F0 url('../Images/commentquote.gif') no-repeat 5px 10px; border-top: 1px solid #E7DFD1; }
.Post .PostMore .CommentAlt {background:#FFFFFF url('../Images/commentquote.gif') no-repeat 5px 10px; border-top: 1px solid #E7DFD1;}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.Category .Desc { color:#333; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Authors A-Z - ( Only on the Author page) */
.AZ ul { background:#e2eced; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* PageForms */
.PageForms form { border: solid 2px #EFEFEF; }
.PageForms th { background: #EFEFEF; }
.PageForms .Button { color: #FFF; background: #990000; border: outset 2px #ccc; }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* tabs styles */
#tabnav .tablink a:link, #tabnav  .tablink a:visited 
{ background: #e2eced; border: 1px solid #c9e7ff; color:#003366; }
#tabnav .tablink a:link.active, #tabnav .tablink a:visited.active 
{ border-bottom: 1px solid #fff; background: #fff; color:#ff6600;}
#tabnav a:hover { background: #fff;}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.right li a { color:#336699;}
.right li a:visited { color: #336699;}
.right li a:hover { color: #336699; text-decoration: underline;}


.right .block { border: #EFEFEF 2px solid; /*background: #EFEFEF;*/}
.right .blockTop { position: absolute; background: #EFEFEF;}


.right .Categ { border: #EFEFEF 2px solid; /*background: #EFEFEF;*/ }
.right .CategTop { position: absolute; }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Paging */
.Paging a { background: #e2eced; border: 1px solid #c9e7ff; }
.Paging a:link { background: #e2eced; border: 1px solid #c9e7ff; }
.Paging a:visited { background: #e2eced; border: 1px solid #c9e7ff;}
.Paging a:hover { border: 1px solid #ff6600ff6600; background: #ff6600; color: #fff;}

.PagingDisabled { border: 1px solid #ccc; background: #e5e5e5; }
.PagingCurrentPageNumber { border: 1px solid #ff6600; background: #ff6600; color: #fff;}

/* Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer { color:#666;}
.footer a {color:#666;}
.footer a:visited {color:#666;}
.footer a:hover {color:#666;}


/* Summary Article Attachment */
.AttachmentList { background-color: #F1EDE4; border: #DACCB6 1px solid; }
.AttachmentList ul li { background: url(../Images/attach.gif) no-repeat left top; }
.AttachmentHeading { color:#993300;}
/* Teaser Image Styles */
.FeatureImageSpan {background-color: #F5F5F5;}
.FeatureImageCaption {  border-bottom: 1px #CCCCCC solid;  }

