/* Employment Menu */
.Trail { border: #EFEFEF 2px solid; padding: 5px; margin: 5px;}
/* END - Employment Menu */

.codex {
	border:1px inset;
	background-color: #EFEFEF;
	padding-left: 10px;
	padding-right: 10px;
       width:580px;
	max-height: 200px;
	overflow:auto;
	overflow-y:visible;
	font-family: "Courier New", Courier, mono;
        clear:both;


}
body { 
	background-color: #EFEFEF;
	BACKGROUND-IMAGE: url(/img/bg-cms.gif); BACKGROUND-REPEAT: repeat-x;
	margin: 0px; padding: 0px
	height: 100%; text-align: center; min-width: 960px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
}
body a {
	color: #336699;
}
div#aswrap {
	width: 972px;
	background-color: #FFFFFF;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding : 5px;
	color: #000000;
	font-size: 11px;
} 
div#bgfortut {
	BACKGROUND-IMAGE: url(/img/bg-tutwrap.gif); BACKGROUND-REPEAT: repeat-x;
	padding:5px;
}
.smalllink {
	color: #000000;
	font-weight: bold;
	font-size: 11px;
}

.smalllink a {
	color: #336699;
	font-weight: bold;
	font-size: 11px;
}
.right .smalllink a {
	color: #336699;
	font-weight: normal;
	font-size: 11px;
}

.biglink {
        font-family: "Trebuchet MS";
	color: #ff6600;
	font-weight: bold;
	font-size: 20px;
        margin: 0px;
}
.biglink a {
        font-family: "Trebuchet MS";
	color: #ff6600;
	font-weight: bold;
	font-size: 20px;
        margin: 0px;
}

.ByLine {
        padding: 5px 0px 5px 0px;
}

.Post .PostHead .tutlink a {color: #336699; font-weight: normal; font-size: 13px;}
.Post a {
	color: #336699; /* red color #990000; */
}
div#greenbg {
	background-color: #fcbd00;
	width:100%;
	height: 45px;
}
div#greenlogo {
	width:310px;
	height: 45px;
	margin: 0px;
	float: left;
}
div#greensubmenu {
	margin: 0px;
	padding: 3px 10px 0px 0px;
	overflow:hidden;
	height: 15px;
	float: right;
}
div#greensubmenu a {
	color: #000000;
	font-size: 10px;
}

div#topbanner {
	padding: 5px 0px 5px 0px;
	border-left: #EFEFEF 2px solid;
	border-right: #EFEFEF 2px solid;
	border-bottom: #EFEFEF 2px solid;
}


.smallred {
	color: #333333;
	font-size: 11px; 
	text-decoration: none
}
.smallred a{
	color: #990000;
	/*color: #ff6600;*/
	font-size: 11px; 
	text-decoration: underline
}
div#sep {
	DISPLAY: inline;
	padding: 6px;
	COLOR: #999999;
}
div#featuredcube {
	min-height: 110px;
	background-color: #EFEFEF;
	padding : 0px 10px 10px 10px;
	margin: 0px 0px 15px 0px;
}
div#bspot  {
	margin : 10px 20px 10px 20px;
	float: left;
}
div#bspotmain { 
	width: 330px;
	height: 100%;
}

div#googlesearch {
	padding: 2px 0px 0px 720px;
}



/* menu ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


#themaintopnav {
	border:0px;
	height: 27px;
}
#themaintopnav td {
	border-right: 1px solid #FFFFFF;
	text-align:center;
}
#themaintopnav td a {
	font-family: Tahoma, Helvetica, Arial,helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color:#FFF;
	height: 27px;
	display:block;
	width:100%;
	line-height:27px;
	background: url('http://www.actionscript.org/img/bg-themain-menu.gif') repeat-x 0 0;
}
#themaintopnav td a:hover{
	background-position:0 -27px;
}




#themaintopnav td a:last-child{
	border-right: 0px;
}
#lastmenutd{
	border-right: none !important;
}



.menu3 { 
	margin-top: 3px; 
	background-color:#fafafa;	
	text-align: left;
        width:700px;
	height: 14px;
}


.menu3 a { 
	border-left: 1px solid #d0d0d0;
	padding-left: 6px;
	padding-right: 6px;
	float: right;
	text-decoration: none;
	font-size: 11px; 
	color: #4C4C4C;	
}
.menu3 a:hover {
  background-color: #e5e8ea;
	color: 000000;
	font-size: 11px;
}
.menu3 a:visited {
	color: 000000;
	font-size: 11px;
}






.menu3 img { 
	vertical-align: middle;
}



/* menu ends ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* General Links */
a:link { text-decoration : none; border: 0px;} 
a:active { text-decoration : underline; border: 0px;} 
a:visited { text-decoration : none; border: 0px;} 
a:hover { text-decoration : underline; border: 0px;} 

img { padding: 0px; margin: 0px; border: none;}
hr { border-left:0px solid #abb0b5; border-right:0px solid #abb0b5; border-top:1px dotted #abb0b5; border-bottom:0px solid #abb0b5; height : 1px;  }


input { font-family: 'Verdana'; color: #2f2928; font-size: 11px; }
textarea { font-family: 'Verdana'; color: #2f2928; font-size: 12px;  }
select { font-family: 'Verdana'; color: #2f2928; font-size: 11px;  }

h1 { font-size: 18px; font-family: "Trebuchet MS" ;}


#bgcontain { 
        width: 950px; 
        text-align: left; 
        background-color:#ffffff; 
        background: url('http://www.actionscript.org/img/bg904.gif') repeat-x;
        padding: 5px 10px 10px 10px; 
        border-width:1px;
        border-color:#d0d0d0;
        border-style:solid;
}  
#container { padding: 0; float: left; width: 100%; clear: both;} 


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.Header { width: 970px; position: relative; float: left; margin-bottom: 10px; } 

.HL { width: 570px; float: left; height: 65px; padding: 5px 20px 0px 20px;}
.HL h1 { font-size: 28px; letter-spacing: -1px; padding: 0px; margin: 0px; font-weight: normal; }
.HR { width: 250px; float: right; height: 70px;}


/* Block ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.BLR { width: 940px; float: left; margin-bottom: 10px; } 
.BL { width: 610px; height: 130px; float: left; }
.BR { width: 290px; position: relative; float: right; padding: 15px 0px 15px 30px;}
.BRTop { position: absolute; width: 320px; height: 10px; left: 0px; top: 0px;}
.BR h2 { padding: 0px 0px 5px 0px; margin: 0px; color:#fff; border-bottom: none; font-size: 14px; }
.BR form { padding: 0px; margin: 0px;}
.BR input { margin-bottom: 4px;}
.BR select { margin-bottom: 4px;}
.BR .input { border: inset 1px #ccc; font-size: 11px; padding: 2px;}
.BR .arrow { width: 55px; height: 20px;}
.BR .arrow:hover {}
.BR .arrowIE { width: 55px; height: 20px;}
/*\ IE/Win min height hack */ * html .searcharrow { margin: -25px 0px 0px 160px; } /* */ 
.searcharrow { padding: 0px 5px 0px 0px; margin: -24px 0px 0px 160px; background: none; }
.BR p { padding: 5px 0px; margin: 0px; font-size: 10px; font-weight: normal; position: absolute; top: 10px; right: 20px;}
.BR p a { text-decoration: underline;}


/* DropDown Menu ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#menu { position: absolute; top: 45px; left: 20px;}
#menu ul { padding: 0px; margin: 0px; }
#menu li { float: left; display: block; list-style: none; font-size: 10px; font-weight: bold; }
#menu li a { display: block; float: left; text-decoration: none; padding: 0px 5px 0px 5px; margin-right: 2px;}
#menu a span { padding: 0px 0px 0px 0px; display: block; float: left; }
#menu a:hover span {}
#menu a:hover { background-position: 0% -29px; text-decoration: none;}
#menu a:hover span { background-position: 100% -29px; }


DIV#menu ul li a { z-index: 100 }
DIV#menu ul li a:hover { z-index: 100 }
DIV#menu ul li:hover { z-index: 100 }
DIV#menu ul li.over { z-index: 100 }
DIV#menu ul li li { clear: left; padding: 0px; display: inline; margin: 0px; border: none; }
DIV#menu ul li { position: relative}
DIV#menu ul li ul {	padding: 2px 0px; display: none; z-index: 150; left: 0px; margin: 0px; width: 150px; position: absolute; top: 100%;}
DIV#menu ul li:hover ul { display: block}
DIV#menu ul li.over ul { display: block}

#menu li li a  { font-size: 10px; letter-spacing: normal; width: 130px; padding: 2px 10px; font-weight: normal; }


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.content { position: relative; float: left; width: 600px; padding: 0px;} 

.contentTop { position: absolute; height: 10px; width: 610px; top: 0px; left: 0px;} 

/* BreadCrumb

.content .BreadCrumb { font-size: 9px; margin: 0px 0px 25px 0px; padding: 5px;  }
.content .BreadCrumb ul { list-style-type: none; margin: 0px; padding: 0px; }
.content .BreadCrumb li { background: url(../Images/trail_arrow.gif) no-repeat left center; margin: 0px 4px 0px 0px; padding: 0px 0px 0px 10px; text-decoration: none; display: inline;}
.content .BreadCrumb li a { margin: 0px; padding: 0px; text-decoration: underline;}
.content .BreadCrumbGreater { padding:4px; }
*/

/* BreadCrumb */
.content .BreadCrumb { font-size: 9px; margin: 0px 0px 0px 0px; padding: 5px 0px 0px 0px;  }
.content .BreadCrumb ul { list-style-type: none; margin: 0px; padding: 0px; }
.content .BreadCrumb li { background: url(../Images/trail_arrow.gif) no-repeat left center; margin: 0px 0px 0px 4px; padding: 0px 0px 0px 10px; text-decoration: none; display: inline;}
.content .BreadCrumbGreater { padding: 4px; }

.content h1 { color: #000000; font-size: 18px; padding: 8px 0px; margin: 0px 0px 8px 0px; font-weight: bold;}
.content h2 { font-size: 14px; font-weight: bold; letter-spacing: 0px; padding: 5px 0px; margin: 0px 0px 5px 0px; }
.content h3 { font-size: 16px; padding: 3px 0px; margin: 0px 0px 3px 0px; }

/* article */
.content .PostItem {display: block; clear: both;}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.Articles { margin: 20px 0px;}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.Featured {
	margin: 20px 0px;
	width: 60%;
	float: left;
}
/* .Featured h1 { margin-bottom: 10px; font-size: 24px;} */
.Featured .smalllink a {
	color: #336699;
	font-weight: bold;
	font-size: 14px;
}
































/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.RecentArticles {
	margin: 20px 0px;
	width: 35%;
	float: right;
}
/* .RecentArticles h1 { margin-bottom: 10px; font-size: 24px;} */
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.Categories {}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.Blogs {}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















/* IE min height hack */ * html .Authors { height: 150px;} 
.Authors {min-height: 150px;}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.Pages {}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.News {}
/* .News h1 { margin-bottom: 10px; font-size: 24px;} */
.News h2 { font-size: 15px; letter-spacing: normal; font-weight: normal; font-style: normal; padding: 0px; margin: 0px; font-family: "Trebuchet MS"; }
.News .Post { padding: 0px 0px 0px 0px;}
.News .Post .PostInfo { padding: 0px; margin: 0px; }
.News .Post .PostContent { font-size: 11px; color:#000000; line-height: 15px; }
.News .Post .PostContent p { padding: 4px 0px; margin: 4px 0px; font-size: 11px; line-height: 15px;}
.News .Post .readmore { background: url(../Images/icon_FullStory.png) no-repeat left center; padding-left: 17px;}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















.SearchResults {}
















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















/* Recent Blogs */
.RecentBlogs {
	margin: 20px 0px;
	width: 35%;
	float: right;
}
.RecentBlogs h3 { font-size: 24px; padding: 8px 0px; margin: 0px 0px 8px 0px; letter-spacing: -1px; font-weight: normal;}
.RecentBlogs h4 { font-size: 15px; padding: 3px 0px; margin: 0px; padding-top: 3px; font-family: "Trebuchet MS";}









.RecentBlogs em { font-size: 10px; font-weight: bold; display: block; padding: 0px 0px 5px 0px; font-style: normal; }
.RecentBlogs em a { font-weight: bold; text-decoration: underline; }
.RecentBlogs em a:visited { font-weight: bold; text-decoration: underline; }
.RecentBlogs em a:hover { font-weight: bold; text-decoration: underline; }
































/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
















/* Post */
.Post { padding: 0px 0px 10px 0px; margin: 0px;}


.ATest { float: right; min-height: 250px; min-width: 300px; padding: 0px; margin: 0px 0px 20px 40px;}

/* Post Author left side from the article */
.Post .PostAuthorDetails { border-bottom: #EFEFEF 2px solid; float: right; min-height: 120px; width: 300px; padding-bottom: 5px; margin: 0px 0px 5px 40px;}
.Post .PostAuthorDetails h2 { color: #000000; font-size: 12px; font-weight: bold; padding: 0px 0px 5px 0px; margin: 0px;}
.Post .PostAuthorDetails img { margin: 0px 0px 0px 0px; padding: 1px; border: solid 1px #ccc; float: left;}

/* Post Head */
.Post .PostHead { }
.Featured .PostHead { background-color: #EFEFEF; padding:10px; }
.Post .PostHead h1 { padding: 1px 0px; margin: 0px;}
.Post .PostHead h2 { padding: 1px 0px; margin: 0px; }


/* Post Info/Details */
.Post .PostInfo { padding: 0px; margin: 0px 0px 10px 0px; font-size: 10px; color:#666; }
.Post .PostInfo li { padding: 0px; margin: 0px; display: inline; list-style-type: none;}
.Post .PostInfo a { color: #666; text-decoration: underline;}
.Post .PostInfo .Author { border-right: solid 1px #666; padding: 0px 3px 0px 0px;}
.Post .PostInfo .Time { border-right: solid 1px #666; padding: 0px 3px 0px 3px;}
.Post .PostInfo .Categ { border-right: solid 1px #666; padding: 0px 3px 0px 3px;}
.Post .PostInfo .Rating {padding: 0px 0px 0px 3px;}
















/* Post Content */
.Post .PostContent { margin: 0px; padding: 5px 0px; font-size: 11px; line-height: 15px; color:#000000;}
.Post .PostContent img { margin: 0px 10px 10px 0px; padding: 1px; border: solid 1px #ccc;}
.Post .PostContent p { font-size: 11px; line-height: 15px;}
















/* Post Content -Single Page */
.Post .PostContentSingle { margin: 0px; padding: 10px 0px; font-size: 11px; line-height: 15px;}
.Post .PostContentSingle img {}
.Post .PostContentSingle h1 { padding: 10px 0px; margin: 0px 0px 5px 0px;}
.Post .PostContentSingle p { font-size: 11px; line-height: 15px;}
















/* Post Bottom - Printer Version +  Full story + Visit Site */
.Post .PostBottom { padding: 5px 0px 15px 0px; margin: 0px;}
.Post .PostBottom li { padding: 2px 0px; margin: 0px 5px 0px 0px; list-style-type: none; display: inline; font-size: 10px; }
.Post .PostBottom li a { text-decoration: underline; }
.Post .PostBottom li a:visited { text-decoration: underline; }
.Post .PostBottom li a:hover { text-decoration: underline;}
.Post .PostBottom .FullStory { background: url(../Images/icon_FullStory.png) no-repeat left center; padding-left: 17px;}
.Post .PostBottom .VisitSite { background: url(../Images/icon_VisitSite.png) no-repeat left center; padding-left: 17px;}
.Post .PostBottom .PrinterVersion { background: url(../Images/icon_PrinterVersion.png) no-repeat left center; padding-left: 17px;}
.Post .PostBottom .EditArticle { background: url(../Images/icon_EditArticle.png) no-repeat left center; padding-left: 17px;}
















/* Article More Related Info */
.Post .PostMore { padding: 0px; margin: 5px 0px 5px 0px;}
.Post .PostMore h1 { font-size: 23px; padding: 5px 0px; margin: 0px; }
















/* Article Comments */
.Post .PostMore .Comment, .Post .PostMore .CommentAlt { padding: 5px 10px 10px 10px;}
.Post .PostMore .Comment .Title, .Post .PostMore .CommentAlt .Title { font-size: 12px; padding: 4px 3px; padding-left:40px; margin: 0px;}
.Post .PostMore .Comment .Details, .Post .PostMore .CommentAlt .Details { font-size: 9px; padding: 0px 3px; padding-left:40px; margin: 0px; color: #7E8996;}
.Post .PostMore .Comment .Reply, .Post .PostMore .CommentAlt .Reply { float: right; font-size: 9px; padding-top:4px; color: #7E8996; clear: both;}
.Post .PostMore .Comment .Content, .Post .PostMore .CommentAlt .Content { font-size: 11px; padding: 10px 0px 0px 5px; margin: 0px;}
















/* Article Submit Comments*/
.PostSubmitComments { font-size: 10px;}
















/* Article Navigation */
/* IE min height hack */ * html .ArtNav { height: 15px;} 
.ArtNav {font-size: 11px; line-height: 13px; background: #f8f8f8; padding: 6px; min-height: 15px;}
.ArtNav strong { letter-spacing: -1px;}
.ArtNavLeft { float: left }
.ArtNavRight { float: right }


/* Paging */
.Paging { text-align: right; padding: 6px; margin: 5px 0px; font-size: 10px; line-height: 15px;}
.Paging strong { letter-spacing: -1px;}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* Category Top ( Only on the Category page)  */
.Category { padding: 0px; margin: 10px 0px 10px 0px; position: relative;}
.Category a { color: #336699; } 
/*.Category h1 { font-size: 25px; }*/
.Category .Desc { font-size: 10px; line-height: 16px; }
.Category .rss { position: absolute; right: 0px; top: 15px;}
.Category .SubCategory ul { padding: 15px 0px 5px 0px; margin: 0px;}
.Category .SubCategory li {  padding: 3px 0px 3px 20px; margin: 0px; font-size: 14px; list-style-type: none; font-weight: bold;}
.Category .SubCategory ul {  width: 38em; }
.Category .SubCategory ul li { float: left; width: 15em;  /* accommodate the widest item */ }
/* stop the floating after the list */
.Category .SubCategory br { clear: left; }
/* separate the list from what follows it */
.Category .SubCategory { margin-bottom: 1em; }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* Authors A-Z - ( Only on the Author page) */
.AZ { padding: 0px; margin: 15px 0px; position: relative; font-size: 13px;}
.AZ ul { padding: 10px; margin: 0px;}
.AZ li { padding: 0px; margin: 0px; list-style-type: none; display: inline;}
.AZ a { padding: 0px 3px; margin-right: 1px;}
.AZ a:visited { padding: 1px 3px;}
.AZ a:hover { padding: 1px 3px; }



.ListAuthors {}
.ListAuthors ul { margin: 0px; padding: 0px 0px 0px 20px; }
.ListAuthors li { line-height: 16px;}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* PageForms */


.PageForms tr td { padding: 10px; }
.PageForms tr td table tr td { padding: 3px; font-size: 11px; }
.PageForms tr td table tr td table tr td { padding: 0px; font-size: 11px; }



.PageForms {font-size: 10px;}
.PageForms form {}
.PageForms td { padding: 10px; }
.PageForms th { padding: 10px 2px 10px 10px; text-align: left; font-size: 13px; font-family: "Trebuchet MS"; font-weight: normal;}


.PageForms td table td { padding: 3px; font-size: 11px; }
.PageForms td table td input { padding: 3px; }
.PageForms td table td input.keyfield { border: inset 1px #ccc; padding: 3px; }
.PageForms td table td textarea { border: inset 1px #ccc; padding: 5px; }
.PageForms td table td select { border: inset 1px #ccc; padding: 2px; }


.PageForms .Button { font-size: 10px; padding: 2px 5px; font-weight: bold;}
.PageForms .Required { color:#FF0000;}
#googlesearch .Button { 
font-size: 9px; padding: 1px 3px; font-weight: bold;
color: #FFF; background: #3CA6C9; border: outset 2px #ccc;
}
.Button { 
font-size: 9px; padding: 1px 3px; font-weight: bold;
color: #FFF; background: #3CA6C9; border: outset 2px #ccc;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* Message */
.Message { color: #ff4e00; background: url('../Images/warning.gif') #FFFFCC no-repeat 5px center; font-size: 11px; padding: 5px 5px 5px 25px; line-height: 16px; border: 1px solid #FFCC66;  margin-left: 5px;}
.ErrorMessage { color: #FF0000; background: url('../Images/exclamation.png') no-repeat left center; font-size: 11px;}
.SuccessMessage { color: #FF0000; background: url('../Images/success.png') no-repeat left center; font-size: 11px;}

/* tabs styles */
#tabnav { height: 30px; margin: 0px 0px 10px 0px; padding-left: 6px; background: url('../Images/tab_bottom.gif') repeat-x bottom;}
#tabnav li { margin: 0; padding: 0;	display: inline; list-style-type: none;}
#tabnav .navlinks {margin: 0; padding: 0; display: inline; list-style-type: none; float: right;}
.tablink { float: left; }
#tabnav .tablink a:link, #tabnav  .tablink a:visited 
{ float: left;	font-size: 12px; line-height: 14px; padding: 7px 14px; margin: 0px 4px 0px 0px ; text-decoration: none;}
#tabnav .tablink a:link.active, #tabnav .tablink a:visited.active {}
#tabnav a:hover {}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.ViewAll {color: #336699; font-size: 10px; font-weight: bold;}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




.right { float: right; width: 340px; } 
.right h2 { 
font-size: 14px; margin: 0px 0px 3px 0px;
color: #666666; padding:5px 0px 5px 0px;
}
.right ul { padding: 0px; margin: 0px; } 
.right li { padding: 1px 0px 1px 10px; margin: 0px; list-style-type: none; font-size: 11px;} 



.right .block { padding: 5px 10px 15px 10px; margin: 10px 0px 10px 0px;}
/*\ IE/Win min height hack */ * html .right .blockTop { left: -15px;} 
.right .blockTop { position: absolute; width: 350px; height: 10px; left: 0px; top: 0px;}




.right .Categ { padding: 5px 15px 15px 15px; position: relative; margin-bottom: 10px; }
/*\ IE/Win min height hack */ * html .right .CategTop { left: -15px;} /* */ 
.right .CategTop { position: absolute; width: 350px; height: 10px; left: 0px; top: 0px;}
.right .Categ li { letter-spacing: -1px; font-weight: bold; }


.right .ArticleOptions { margin-bottom: 10px; position: relative; }
.right .ArticleOptions li { padding-left: 20px; }
.right .ArticleOptions .EmailToFried { background: url(../Images/ArticleOptionsEmail.png) no-repeat left center;}
.right .ArticleOptions .PrintArticle { background: url(../Images/ArticleOptionsPrint.png) no-repeat left center;}
.right .ArticleOptions .RemoveFavorites { background: url(../Images/ArticleOptionsFavorites.png) no-repeat left center;}
.right .ArticleOptions .AddToFavorites { background: url(../Images/ArticleOptionsFavorites.png) no-repeat left center;}
.right .ArticleOptions .ArticlesToRead { background: url(../Images/ArticleOptionsRead.png) no-repeat left center;}
.right .ArticleOptions .RemoveRead { background: url(../Images/ArticleOptionsRead.png) no-repeat left center;}


.leftwrap .ArticleOptions ul { padding: 5px 0px 5px 0px; margin: 0px;} 
.leftwrap .ArticleOptions li { padding-left: 20px; list-style-type: none; font-size: 11px; display: inline;} 
.leftwrap .ArticleOptions .EmailToFried { background: url(../Images/ArticleOptionsEmail.png) no-repeat left center;}
.leftwrap .ArticleOptions .PrintArticle { background: url(../Images/ArticleOptionsPrint.png) no-repeat left center;}
.leftwrap .ArticleOptions .RemoveFavorites { background: url(../Images/ArticleOptionsFavorites.png) no-repeat left center;}
.leftwrap .ArticleOptions .AddToFavorites { background: url(../Images/ArticleOptionsFavorites.png) no-repeat left center;}
.leftwrap .ArticleOptions .ArticlesToRead { background: url(../Images/ArticleOptionsRead.png) no-repeat left center;}
.leftwrap .ArticleOptions .RemoveRead { background: url(../Images/ArticleOptionsRead.png) no-repeat left center;}





.right .PopularArticles { margin-bottom: 10px; position: relative;}
.right .FavoriteArticles { margin-bottom: 10px; position: relative; }
.right .ArticleHistory { margin-bottom: 10px; position: relative; }
.right .ArticlesToRead { margin-bottom: 10px; position: relative; }
.right .PopularAuthors { margin-bottom: 10px; position: relative; }

/* Paging ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.Paging { text-align: right; padding: 4px; margin: 0px 0px; font-size: 10px; line-height: 12px;}
.Paging strong { letter-spacing: -1px;}
.Paging a { display: inline; padding: 2px 4px; }
.Paging a:visited { display: inline; padding: 2px 4px; }
.Paging a:hover { display: inline; padding: 2px 4px; text-decoration: none;}
.PagingDisabled { display: inline; padding: 2px 4px;}
.PagingCurrentPageNumber { display: inline; font-weight: bold; padding: 2px 4px;}


/* Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer { padding: 10px 20px; margin: 0 auto; clear: both;}
.footer p { padding: 0px; margin: 0px;  font-size: 10px;}
.footer a { text-decoration: underline;}


/* Spread the Word */
.SpreadTheWord {}
.SpreadTheWord ul { padding: 0px; margin: 0px; }
.SpreadTheWord li { padding: 0px 2px; margin: 0px; list-style-type: none; display: inline; font-size: 11px; line-height: 16px;}



.ArticleExtraContent { font-size: 11px;}
.ArticleExtra ol, .ArticleExtra ol li { font-size: 11px;}
.ArticleExtra ul, .ArticleExtra ul li { font-size: 11px;}



.ArticleExtra ul { padding-top: 0px; padding-bottom: 0px; margin:0px; list-style-type: none;  padding-left: 20px;}
.ArticleExtra ul li a {  font-size: 11px; display: block; padding-left: 20px; background: url(../Images/ArrowLeft.png) no-repeat left top; }



/* Summary Article Attachment */
.AttachmentList { padding: 6px;}
.AttachmentList ul { padding-top: 0px; padding-bottom: 0px; margin:0px; list-style-type: none;  padding-left: 20px;}
.AttachmentList ul li { padding: 3px;}
.AttachmentList ul li a { font-size: 10px; display: block; padding-left: 20px; }
.AttachmentHeading { font-size: 14px; font-weight: bold; font-family:Arial,Helvetica,sans-serif; font-family:"Trebuchet MS";}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.right .Newsletter { 
/*font-size: 11px; */
padding: 5px 15px 15px 15px; 
margin: 10px 0px 0px 0px;
position: relative; margin-bottom: 10px;
border: #EFEFEF 2px solid;
/*background-color: #EFEFEF;*/
background: url(/img/mlist90.gif) no-repeat right bottom;
}
.right .Newsletter h2 { margin-bottom: 10px;}


/* Teaser Image Styles */
.FeatureImageSpan { font-size: 9px; margin: 5px;}
.FeatureImageCaption {  padding-left: 3px; padding-right: 3px;}

.facebook_wrap {
background:url("/img/facebook-support.gif") no-repeat left top;
width:330px;
height:60px;
display : block;
}
.facebook_wrap_thin {
background:url("/img/facebook-support-thin.jpg") no-repeat left top;
width:160px;
height:30px;
display : block;
}
.ForumSideBar {
width: 160;
}
.ForumSideBar h2 { 
font-size: 14px; margin: 0px 0px 3px 0px;
color: #666666; padding:5px 0px 5px 0px;
}
.ForumSideBar ul { padding: 0px; margin: 0px; } 
.ForumSideBar li { padding: 1px 0px 1px 10px; margin: 0px; list-style-type: none; font-size: 11px;}
.ForumSideBar .block {padding: 5px 10px 15px 10px; margin: 10px 0px 10px 0px; border: #EFEFEF 2px solid;}
